{% extends "base.html.twig" %}

{% block body %}

    <div class="container-flex">

        <div class="row">
            <div class="header">
                <div class="col-sm-8 header-left"></div>
                <div class="col-sm-4 header-right">
                    <a href="{{ path('waterzoo_tank_returnalltanks') }}">Get back to the room</a><br>
                    <a href="{{ path('waterzoo_fish_addfish') }}">Add new fish</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="container-flex room-container">

                <table>
                    {% for fish in fishes %}
                        <tr>
                            <td>
                                Id: {{ fish.id }}, Name: <a
                                        href="{{ path('waterzoo_fish_show', {'id': fish.id}) }}">{{ fish.name }}</a><br>
                            </td>
                        </tr>
                    {% endfor %}
                </table>


            </div>
        </div>
    </div>


{% endblock %}